body {
	background-color: #72746e;
}

h1 {
	color: #20B2AA;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}