body {
	background-color: #263b40;
}

h1 {
	color: #D7D4A6;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic
}