@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);

@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);

body {
	text-align: center;
	background-color: white;
}

h1 {
	color: #000;
	font-family: 'Ubuntu', sans-serif;
	font-size: 2em;
	letter-spacing: 0.5em
}

p {
	color: black;
	font-family: 'Lora', serif;
	font-weight: normal;
}

#slogan {
	font-size: 20px;
	color: black;
}

.quote {
		background: #fff;
		width: 700px;
		color: black;
		margin: 0 auto;
		padding: 10px;
		line-height: 2em
}

#color {
	color: black;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;

}

ul {
	color: black;
	font-family: 'Lora', serif;
	font-weight: 400;
	display: inline-block;
	text-align: left;
}

hr {
	width: 200px
}

a {
	color: red;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	text-decoration: none;
}